<div class="nested-fields">
  <%= f.label :description %> </br>
  <%= f.text_field :description %>
  <%= f.check_box :correct %> <%= t('messages.correct_answer') %>

  <%= link_to_remove_association('Remover', f) %> 
</div>