<div class="row justify-content-center">
  <div class="col-xl-10 col-lg-12 col-md-9">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <div class="row">
          <div class="col-lg-6 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-6">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4"><%= t('messages.change_password') %></h1>
              </div>
              <hr>
              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
                <%= f.hidden_field :reset_password_token %>

                <div class="form-group">
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password, placeholder:"new password", class:"form-control form-control-user", id:"exampleInputPassword" %>
                </div>

                <div class="form-group">
                  <%= f.password_field :password_confirmation, placeholder:"password confirmation", class:"form-control form-control-user", id:"exampleInputPassword" %>
                </div>

                <%= f.submit t('buttons.alter'), class:"btn btn-primary btn-user btn-block" %>
              <% end %>
              <hr>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>